@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700');
:root {
  --font-family-sans-serif: 'Heebo', Calibri, Candara, Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: 'Heebo', sans-serif;
  font-weight: 400 !important;
}

body {
  font-family: 'Heebo', Calibri, Candara, Arial, sans-serif;
  font-size: 130%;
  font-weight: 400 !important;
  letter-spacing: .25px;
  line-height: 1.5em
}

textarea {
  font-family: inherit;
}

a:hover {
  color: #eceff3;
}

/* navigation links */

.nav-btn .action-button{
  color: #fff; 
  font-weight: 400;
  font-size: 90%;
  letter-spacing: .75px;
}

.nav-btn .action-button:hover{
  color: #fff; 
  font-weight: 400;
  font-size: 90%;
  letter-spacing: .75px;
}

.nav-btn:hover{
  background-color:#1b8fc1; 
  color:#ffffff
}

@media (max-width: 767px) {
  .nav-btn .action-button:link{
    color: #779bb5 
  }
}

@media (min-width: 768px) {
  .nav-btn{
    background-color:#b8c2cc; 
    color:#ffffff; 
    margin: 0px 3px 0px 3px; 
    padding: 1px 0px 0px 0px;
  }
  .nav-margins{
    margin-left: 60px; 
    margin-right: 85px
  }
}

@media (min-width: 1150px) {
  .nav-margins{
    margin-left: 12%; 
    margin-right: 15%
  }
}

/* buttons */
.action-button{
  color: #fff; 
  font-weight: 400;
  font-size: 90%;
  letter-spacing: .75px
}

.action-button:hover{
  color: #fff; 
  font-weight: 400;
  font-size: 90%;
  letter-spacing: .75px;
}

.btn.btn-default{
  color: #fff;
  background-color:#1b8fc1;
  font-family: inherit;
  font-weight: 400 !important;
  font-size: 100% !important;
  letter-spacing: .25px;
  border-radius: 0; 
  border: none;
  margin-right: 5px;
}

/* download probes button */
@media (min-width: 768px) {
  .btn.btn-default.shiny-download-link.shiny-bound-output{
    margin: 55px 5px 0px 25px
  }
}
   
/* header text - evaluation page */
h3,.h3{
  font-family: inherit;
  font-weight: 500 !important;
  font-size: 120% !important;
  letter-spacing: .25px;
  margin-top: 20px;
  margin-bottom: 4px;
} 

.box.box-primary>.box-header,
.box.box-success>.box-header{
  color:#000;
  background:#fff;
}

/*   ?  
.shiny-input-container label{
  font-family: inherit;
  font-weight: 500 !important;
  font-size: 100% !important;
  letter-spacing: .25px;
  margin-top: 2px;
} */

/* header text - sliders & homepage inputs */
.form-group.shiny-input-container label.control-label,
.form-group.shiny-input-container label[for=coordinates]{
  font-family: inherit;
  font-weight: 500 !important;
  font-size: 100% !important;
  letter-spacing: .25px;
  margin-top: 2px;
  margin-bottom:7px;
}

/* text - radio options on home page */
.shiny-options-group label{
  font-family: inherit;
  font-weight: 400 !important;
  font-size: 100% !important;
  letter-spacing: .25px;
  margin-top: 1px;
}

/* background color */
.content-wrapper{
background-color: #eceff3;
}

/* selection boxes on home page */
.selectize-input{
  border-radius: 0 !important;
  border-color: #fff !important;
}

.form-control.shinyjs-resettable.shiny-bound-input{
  border-radius: 0 !important;
  border-color: #fff !important;
}

.option.selected,
.option.selected.active{
  background-color: #1b8fc1;
  color: #fff;
}

.option.active{
  background-color: #eceff3;
}

@media (min-width: 768px) {
  .input-row-margins{
    margin-left: 20px; 
    margin-right: 20px
  }
}

@media (min-width: 1150px) {
  .input-row-margins{
    margin-left: 8%; 
    margin-right: 10%
  }
}

/* boxes */
.box{
  border-bottom-color: #fff;
  border-left-color: #fff;
  border-right-color: #fff;
  border-top-color: #fff;
}

.box.box-primary{
  border-top: none;
  border-radius: 0px;
  padding-top: -20px;
}

.box.box-success{
  border-top: none;
  border-radius: 0px;
}

.box{
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}

/* genome title */
#title.shiny-html-output.shiny-bound-output{
  margin-bottom: 15px;
  padding-top: 10px;
  line-height: 1.2em;
}

@media (min-width: 768px) {
#title.shiny-html-output.shiny-bound-output{ 
  margin-bottom: 0px;
    padding-top: 6px;
    padding-left: 25px
  }
}

ul.nav li.header{
  background-color: none;
  color: #000;
  border: none;
}

/* tabs */
.nav.nav-tabs.shiny-tab-input.pull-right.shiny-bound-input{
  background: #eceff3;
}

ul.nav li.active{
  border-top: none;
}

ul.nav li{
  border-top-color: #fff !important;
  color: #fff;
}

ul.nav{
  border: none;
}

@media (min-width: 768px) {
  .nav.nav-tabs.shiny-tab-input.pull-right.shiny-bound-input{
    padding-bottom:5px
  }
  ul.nav li.active{
    margin-bottom: 10px
  }
}

/* plot margins */
@media (min-width: 768px) {
  #plot-margin.row{ 
    margin-right:-30px
  }
}

/* SLIDERS */

@media (min-width: 768px) {
  #max_probes.shiny-html-output.shiny-bound-output{
    margin: 10px 25px 0px 25px;
  }
}
                                
#borderless-box div{ 
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none; 
}

/* slider bar */
.irs .irs-bar, 
.irs .irs-bar-edge{
  background: #1b8fc1;
  border: #1b8fc1;
}

.irs .irs-line{
  background: #dde1e6;
  border:none;
}

.irs-shadow{
  opacity: 0;
  background: #fff;
  display: none;
}

/* slider circle */
.irs-slider.single,
.irs-slider.from,
.irs-slider.to{
  background: #fff;
  border-color: #b8c2cc;
  border-width: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* slider value boxes */
.irs .irs-single, 
.irs .irs-from, 
.irs .irs-to{
  padding: 2px 3px 0px 3.5px;
  vertical-align: bottom;
}

.irs .irs-single, 
.irs .irs-from, 
.irs .irs-to{
  background: #1b8fc1;
}

.irs .irs-min, .irs .irs-max{
  background: #fff;
}

/* SWITCH */

/* circle - off */
.label-primary:after{
  background: #fff !important;
  border: solid !important;
  border-color: #b8c2cc !important;
  border-width: 6px !important;
  -webkit-box-shadow: none !important; 
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* circle - on */
.label-primary:before{
  background: #eceff3 !important;
  border: none !important;
  border-color: #b8c2cc !important;
  border-width: 6px !important;
  opacity: 1 !important;
  -webkit-box-shadow: none !important; 
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* bar - off */
.shinyjs-resettable.shiny-bound-input:checked + .label-primary:after {
  background-color:#fff !important;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}

/* bar - on */
.shinyjs-resettable.shiny-bound-input:checked + .label-primary:before {
  background-color:#1b8fc1 !important;
  opacity: 1 !important;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}

/* SPINNER */

.loader {
  position: absolute;
  left: 65%;
  top: 45%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #e2e0e0;
  border-radius: 50%;
  border-top: 16px solid #173565;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
  
  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.loading-message {
  position: absolute;
  left: 65%; 
  top: 45%;
  margin: 70px 0 0 -75px;
  text-align: center;
  color: #173565;
  opacity:0;
}

#loading-message1 {
  animation: fadeInOut 5s 0s infinite;
}

#loading-message2 {
  margin:70px 0 0 -90px;
  animation: fadeInOut 5s 2.5s infinite;
}

/* End Spinner */

#toggleAdvanced1 {
  color: #FFFFFF;
  text-align: right;
}

.shiny-options-group {
    font-size: 90%;
}

.options {
  position:absolute;
  top:8%;
  right:2%;
  z-index: 10;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

#pageHeader {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  letter-spacing: 10px;
  text-align: left;
  padding-left: 25px;
  padding-top: 25px;
  color: #FFFFFF;
  background-color: #0b3469;
}

/* right align action button */
.rightAlign{
  float: right;
}

.sidebar{
  background-color: #0b3469;
}

.main-panel{
  background-color: #0b3469;
  color:#ffffff;
  background-size: cover;
  background-repeat: no-repeat;
}