@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,500,700');
:root {
  --font-family-sans-serif: 'Heebo', Calibri, Candara, Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  font-family: 'Heebo', sans-serif;
  font-weight: 400 !important;
}

body {
  font-family: 'Heebo', Calibri, Candara, Arial, sans-serif;
  font-size: 130%;
  font-weight: 400 !important;
  letter-spacing: .25px;
  line-height: 1.5em
}

textarea {
  font-family: inherit;
}

h1 {
  font-family: inherit;
  font-size: 160%;
  font-weight: 500 !important;
  letter-spacing: .25px;
  line-height: 1.5em
}

h4 {
  font-family: inherit;
  font-size: 105%;
  font-weight: 400 !important;
  letter-spacing: .25px;
  line-height: 1.5em
}

a:hover {
  color: #eceff3;
}

/* navigation links */

.nav-btn .action-button{
  color: #fff; 
  font-weight: 400;
  font-size: 90%;
  letter-spacing: .75px;
  border-radius: 1px;
}

.btn.btn-default.action-button.nav-btn.shiny-bound-input{
  font-weight: 400;
  font-size: 90% !important;
  letter-spacing: .75px;
  outline: none;
}

.nav-btn:hover{
  background-color:#1b8fc1; 
  color:#ffffff;
}

.nav-btn:active{
  color: #fff; 
  background-color:#1985B3;
}

@media (max-width: 767px) {
  .btn.btn-default.action-button.nav-btn.shiny-bound-input{
    background-color: rgba(184, 194, 204, 0);
    color: #779bb5 ;
    padding: 4px 0 2px 0;
    width: 100%;
  }
  .nav-btn .action-button:link{
    color: #779bb5 
  }
  .nav-btn .action-button:hover{
    color: #fff !important
  }
}

@media (min-width: 768px) {
  .nav-btn{
    background-color:#b8c3d4; 
    color:#ffffff; 
    margin: 0px 6px 0px 6px; 
    padding: 0px 10px 0px 0px;
      border-radius: 1px;

  }
  .btn.btn-default.action-button.nav-btn.shiny-bound-input{
    color: #fff; 
    background-color: rgba(184, 194, 204, 0);
    font-weight: 400;
    font-size: 90% !important;
    letter-spacing: .75px;
    padding: 3.5px 0 1.5px 0;
width: 100%;
text-align: center;}

  .nav-margins{
    margin-left: 50px; 
    margin-right: 95px
  }
}

@media (min-width: 1150px) {
  .nav-margins{
    margin-left: 12%; 
    margin-right: 15%
  }
}

/* buttons */
.action-button{
  color: #fff; 
  font-weight: 400;
  font-size: 90%;
  letter-spacing: .75px;
  border-radius: 1px !important;
}

.action-button:hover{
  color: #fff; 
  font-weight: 400;
  font-size: 90%;
  letter-spacing: .75px;
}

.action-button:active{
  background-color: #1985B3 !important;
  color: #fff !important;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn.btn-default{
  color: #fff;
  background-color:#1b8fc1;
  font-family: inherit;
  font-weight: 400 !important;
  font-size: 100% !important;
  letter-spacing: .25px;
  border-radius: 0; 
  border: none;
  margin-right: 5px;
}

/* design probes button */
.design-btn{
  background-color: #1b8fc1;
  color: #fff;
  position: relative;
  z-index: 1;
  margin-top: 7px;
  margin-left: 4px;
  border-radius: 1px;
}

.design-btn:hover{
  background-color: #1A93C7;
}
  
.design-btn:focus{
  background-color: #f4f6fa;
  opacity: 0;
}


/* download probes button */

.btn.btn-default.shiny-download-link.shiny-bound-output:active{
  color: #fff;
  background-color:#1985B3;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}

.btn.btn-default.shiny-download-link.shiny-bound-output:hover{
  background-color:#1A93C7;
}

@media (min-width: 1001px) {
  .btn.btn-default.shiny-download-link.shiny-bound-output{
    margin: 55px 60px 0px 0px
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .btn.btn-default.shiny-download-link.shiny-bound-output{
    margin: 55px 25px 0px -20px
  }
}
   
/* header text - evaluation page */
h3,.h3{
  font-family: inherit;
  font-weight: 500 !important;
  font-size: 120% !important;
  letter-spacing: .25px;
  margin-top: 20px;
  margin-bottom: 4px;
} 

.box.box-primary>.box-header,
.box.box-success>.box-header{
  color:#000;
  background:#fff;
}

/*   ?  
.shiny-input-container label{
  font-family: inherit;
  font-weight: 500 !important;
  font-size: 100% !important;
  letter-spacing: .25px;
  margin-top: 2px;
} */

/* header text - sliders & homepage inputs */
.form-group.shiny-input-container label.control-label,
.form-group.shiny-input-container label[for=coordinates]{
  font-family: inherit;
  font-weight: 500 !important;
  font-size: 100% !important;
  letter-spacing: .25px;
  margin-top: 2px;
  margin-bottom:7px;
  color: #394b58;
}

.form-group.shiny-input-container label.control-label[for=max_probes],
.form-group.shiny-input-container label.control-label[for=region_slider]{
  font-size: 115% !important;
  margin-bottom: 15px;
}

/* radio options on home page */

.form-group.shiny-input-container label.control-label[for=index]{
  margin-bottom:5px;
}

.shiny-options-group label{
  font-size: 50% ;
}

.shiny-options-group label span{
  font-family: inherit;
  font-weight: 300 !important;
  font-size: 170% !important;
  letter-spacing: .5px;
  margin-top: 1px;
  line-height: 21px !important;
  color: #000;
}

.shiny-options-group .radio:nth-child(1){
  margin-left: -245px;
}
.shiny-options-group .radio:nth-child(4){
  margin-left: -3px;
}
.shiny-options-group .radio:nth-child(5){
  margin-left: -232px;
}


/* background color */
.content-wrapper{
background-color: #f4f6fa;
}

/* selection boxes on home page */
.selectize-input{
  border-radius: 1px !important;
  border-color: #fdfeff !important;
  background: #fdfeff !important;
  color: #394b58;
  margin-bottom: 10px;
}

.form-control.shinyjs-resettable.shiny-bound-input{
  border-radius: 1px !important;
  border-color: #fdfeff !important;
  background: #fdfeff !important;
  text-align: center;
  color: #394b58;
  margin-bottom: 24px;
  }

.option.selected,
.option.selected.active{
  background-color: #1b8fc1;
  color: #fff;
}

.option.active{
  background-color: #f4f6fa;
}

.input-row{
  margin-top: 10px;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .input-row{
    margin-left: 20px; 
    margin-right: 20px
  }
}

@media (min-width: 1150px) {
  .input-row{
    margin-left: 10%; 
    margin-right: 10%
  }
}

@media (min-width: 1400px) {
  .input-row{
    margin-left: 20%; 
    margin-right: 20%
  }
}

/* custom index inputs */

.custom-row{
  margin-top: 5px;
  margin-bottom: 30px;
}

.custom-row .form-group.shiny-input-container{
  margin-bottom: -31px;
}

.custom-row .form-group.shiny-input-container ::placeholder{
  color: #b8c3d4;
  font-weight: 400;
  opacity: 1;
}

.n120{
  padding-top: 6px;
  color: #394b58;
}

@media (min-width: 768px) {
  .custom-row{
    margin-right: -11%
  }
}

@media (min-width: 1150px) {
  .custom-row{
    margin-left: 3%; 
    margin-right: -5.5%
  }
}

@media (min-width: 1400px) {
  .custom-row{
    margin-left: 11%; 
    margin-right: 3.5%
  }
}


/* boxes */
.box{
  border-bottom-color: #fff;
  border-left-color: #fff;
  border-right-color: #fff;
  border-top-color: #fff;
}

.box.box-primary{
  border-top: none;
  border-radius: 0px;
  padding-top: -20px;
}

.box.box-success{
  border-top: none;
  border-radius: 0px;
}

.box{
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
}

.nav-tabs-custom{
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}

/* genome title */
#title.shiny-html-output.shiny-bound-output{
  margin-bottom: 20px;
  margin-top: 8px;
  line-height: 1.3em;
  padding-left: 25px;
}

@media (max-width: 767px) {
  #title.shiny-html-output.shiny-bound-output{ 
    margin-bottom: 25px;
    margin-top: 15px;
  }
}

ul.nav li.header{
  background-color: none;
  color: #000;
  border: none;
}

/* summary/region tabs */
.nav.nav-tabs.shiny-tab-input.pull-right.shiny-bound-input{
  background: #f4f6fa;
  margin-bottom: -15px;
}

ul.nav li.active{
  border: none;
}

ul.nav li.active a{
  height: 45px;
  padding-top: 13px;
  color: #000 !important;
}

ul.nav li{
  border-top-color: #fff !important;
}

ul.nav li a{
  color: #444 !important;
}

ul.nav{
  border: none;
}

@media (min-width: 768px) {
  .nav.nav-tabs.shiny-tab-input.pull-right.shiny-bound-input{
    padding-bottom:5px
  }
  ul.nav li.active{
    margin-bottom: 10px
  }
}

/* plot margins */
@media (min-width: 768px) {
  #plot-margin.row{ 
    margin-right:-40px;
    margin-left:-20px;
  }
}

#coverageHistogram.shiny-plot-output.shiny-bound-output,
#restrictionHistogram.shiny-plot-output.shiny-bound-output,
#gc_plot.shiny-plot-output.shiny-bound-output,
#shift_plot.shiny-plot-output.shiny-bound-output{
  margin-left:-6px;
}

/* data table */

.dataTables_length label,
.dataTables_filter label,
.display.dataTable thead tr th{
  font-weight: 500;
}

.dataTables_filter label input[type="search"]{
  border: 2px solid #eceff3;
  outline: none;
}

/* .dataTables_length label select[name="DataTables_Table_1_length"]{
} */

.odd{
  background: #f6f7f9 !important;
}

.even td,
.odd td{
  border-top: none !important;
}

.even:hover,
.odd:hover{
  background: #d9ebf5 !important;
}

.dataTable tbody tr.odd.selected td,
.dataTable tbody tr.even.selected td{
  background-color: #adc2d9 !important;
  color: #fff !important;
}

.fa.fa-minus,
.fa.fa-plus{
  color: #1b8fc1;
}

.dataTables_paginate .paginate_button.current,
.dataTables_paginate .paginate_button.current:hover{
  background: #eceff3 !important;
  color: #ffffff!important;
  border: solid 1px #fff !important;
  border-radius: 0px !important;
  font-style: normal;
}

.dataTables_paginate .paginate_button:hover{
  background: #adc2d9 !important;
  color: #ffffff!important;
  border: solid 1px #fff !important;
  border-radius: 0px !important;
  font-style: normal;
}

.dataTables_paginate.paging_simple_numbers .paginate_button.current{
  color: #ffffff !important;
}

.dataTables_paginate.paging_simple_numbers .paginate_button.previous.disabled,
.dataTables_paginate.paging_simple_numbers .paginate_button.previous.disabled:hover{
  color: #b8c3d4 !important;
  background: none !important;
}



/* SLIDERS */

@media (min-width: 768px) {
  #max_probes.shiny-html-output.shiny-bound-output{
    margin: 10px 25px 0px 25px;
  }
}
                                
#borderless-box div{ 
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none; 
}

/* slider bar */
.irs .irs-bar, 
.irs .irs-bar-edge{
  background: #1b8fc1;
  border: #1b8fc1;
}

.irs .irs-line{
  background: #dde1e6;
  border:none;
}

.irs-shadow{
  opacity: 0;
  background: #fff;
  display: none;
}

/* slider circle */
.irs-slider.single,
.irs-slider.from,
.irs-slider.to{
  background: #fff;
  border-color: #b8c3d4;
  border-width: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* slider value boxes */
.irs .irs-single, 
.irs .irs-from, 
.irs .irs-to{
  padding: 2px 3px 0px 3.5px;
  vertical-align: bottom;
}

.irs .irs-single, 
.irs .irs-from, 
.irs .irs-to{
  background: #1b8fc1;
}

.irs .irs-min, .irs .irs-max{
  background: #fff;
}

/* SWITCH */

/* circle - off */
.label-primary:after{
  background: #fff !important;
  border: solid !important;
  border-color: #b8c3d4 !important;
  border-width: 6px !important;
  -webkit-box-shadow: none !important; 
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* circle - on */
.label-primary:before{
  background: #eceff3 !important;
  border: none !important;
  border-color: #b8c3d4 !important;
  border-width: 6px !important;
  opacity: 1 !important;
  -webkit-box-shadow: none !important; 
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

/* bar - off */
.shinyjs-resettable.shiny-bound-input:checked + .label-primary:after {
  background-color:#fff !important;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}

/* bar - on */
.shinyjs-resettable.shiny-bound-input:checked + .label-primary:before {
  background-color:#1b8fc1 !important;
  opacity: 1 !important;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
}

/* SPINNER */

#preloader-5 {
	position:relative;
}

#preloader-5 span {
	position:absolute;
	left: 50%;
  margin: -35px 0px 0px -20px;
	width:40px;
	height:40px;
	border: 4px solid #1b8fc1;
	border-radius:999px;
	animation: radar 2s infinite linear;
	opacity: 0;
}

#preloader-5 span:nth-child(1) {
	animation-delay: 0s;
}	
#preloader-5 span:nth-child(2) {
	animation-delay: 0.66s;
}
#preloader-5 span:nth-child(3) {
	animation-delay: 1.33s;
}
						
@keyframes radar {
	0% {transform: scale(0); opacity: 0;}
	25% {transform: scale(0); opacity: 0.5;}
	50% {transform: scale(1); opacity: 1;}
	75% {transform: scale(1.5); opacity: 0.5;}
	100% {transform: scale(2); opacity: 0;}
}


.loading-message-block {
  position: absolute;
  left: 50%;
  margin: 40px 0px 0px -64px;
  width: 180px;
  text-align: center;
}
  
.loading-message{
  position: absolute;
  color: #1b8fc1;
  opacity:0;
}

#loading-message1 {
  animation: fadeInOut 5s 0s infinite;
}

#loading-message2 {
  animation: fadeInOut 5s 2.5s infinite;
  margin-left: -15px;
}

@media (max-width: 767px) {
  .loading-message{
  position: absolute;
  }
}

@media (min-width: 1150px) {
  .loading-message{
  position: absolute;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
  
  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }


 /* 
.loader {
  position: absolute;
  left: 50%;
  margin: -48px 0px 0px -32.5px;
  z-index: 1;
  border: 8px solid rgba(236, 239, 243, 0);
  border-radius: 50%;
  border-right: 8px dotted #1b8fc1;
  width: 65px;
  height: 65px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


.loading-message-block {
  position: absolute;
  left: 50%;
  margin: 35px 0px 0px -64px;
  width: 180px;
  text-align: center;
}
  
.loading-message{
  position: absolute;
  color: #1b8fc1;
  opacity:0;
}

#loading-message1 {
  animation: fadeInOut 5s 0s infinite;
}

#loading-message2 {
  animation: fadeInOut 5s 2.5s infinite;
  margin-left: -15px;
}

@media (max-width: 767px) {
  .loader,
  .loading-message{
  position: absolute;
  }
}

@media (min-width: 1150px) {
  .loader,
  .loading-message{
  position: absolute;
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
  
  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
*/
/* End Spinner */

#toggleAdvanced1 {
  color: #FFFFFF;
  text-align: right;
}

.shiny-options-group {
    font-size: 90%;
}

.options {
  position:absolute;
  top:8%;
  right:2%;
  z-index: 10;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

#pageHeader {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  letter-spacing: 10px;
  text-align: left;
  padding-left: 25px;
  padding-top: 25px;
  color: #FFFFFF;
  background-color: #0b3469;
}

/* right align action button */
.rightAlign{
  float: right;
}

.sidebar{
  background-color: #0b3469;
}

.main-panel{
  background-color: #0b3469;
  color:#ffffff;
  background-size: cover;
  background-repeat: no-repeat;
}

/* About page */

